body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
}

#button-container {
    text-align: center;
}

.button {
    padding: 0;
    margin: 20px;
    cursor: pointer;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.button1 {
    width: 200px;
    height: 200px;
    background-image: url('images/ko.jpg');
}

.button2 {
    width: 250px;
    height: 150px;
    background-image: url('images/papir.jpg');
}

.button3 {
    width: 200px;
    height: 250px;
    background-image: url('images/ollo.jpg');
}

.button:hover {
    opacity: 0.8;
}

#result {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.8vw;
}

#counter {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.3vw;
}